<div class="well">
    <div class="row">
        <div class="col-md-12 align-center"><h1>Event Overview</h1></div>
    </div>
    <div class="row">
        <div class="col-md-6 align-right">
            <a ui-sref="eventForm" ng-click="setEdit()">edit</a>
        </div>
        <div class="col-md-6 align-left">
            <a ui-sref="home" ng-click="deleteEvent()">delete</a>
        </div>
    </div>
    <br><br>

    <div class="row">
        <div ui-view class="col-md-3 col-md-offset-3">
            <p>Name: {{event.getName()}}</p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-5 col-md-offset-1">
            <p>Description: {{event.getDescription()}}</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <p>Event Address: {{event.getFullAddress()}}</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <p>Event URL: {{event.getUrl()}}</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <p>Event start date & time: {{getDate(event.getStartDate())}} {{getTime(event.getStartDate())}}</p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <p>Guests {{guestCan(event.getCheckbox1())}} invite other guest</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-3 col-md-offset-3">
            <p>Event end date & time: {{getDate(event.getEndDate())}} {{getTime(event.getEndDate())}}
            </p>
        </div>
        <div class="col-md-5 col-md-offset-1">
            <p>Guests {{guestCan(event.getCheckbox2())}} see other guest</p>
        </div>
    </div>
    <br>

    <div class="row">
        <div class="col-md-2 col-md-offset-3">
            Event Attendee List
        </div>
        <div class="col-md-7"></div>
    </div>
    <br>

    <div class="col-md-6 col-md-offset-3">
        <table class="table table-condensed table-striped">
            <tr class="info">
                <td><b>#</b></td>
                <td><b>Name</b></td>
                <td><b>Email</b></td>
            </tr>
            <tr ng-repeat="x in attendeeArray">
                <td>{{$index + 1}}</td>
                <td>{{x.getName()}}</td>
                <td>{{x.getEmail()}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-3"></div>
    <br>

    <div class="row">
        <div class="co-md-6 col-md-offset-3">

        </div>
        <div class="col-md-3"></div>
    </div>
    <br>

    <div class="row align-right">
        <div class="col-md-9">
            <a class="btn btn-default" ui-sref="eventForm" ng-click="setEdit()" role="button">Edit</a>

            <a class="btn btn-default" ui-sref="home" ng-click="deleteEvent()" role="button">Remove</a>
        </div>
        <div class="col-md-3"></div>
    </div>

</div>