<form name="eventForm" ng-submit="submit(eventForm.$valid)" novalidate>
	<div>
		<div class="row">
			<div class="col-md-12">
				<h1 style="text-decoration: underline">Plan Upcoming Events!</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h1>
					<p>&nbsp;</p>
				</h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 align-right">
				<b>General Event Information</b>
			</div>
			<div class="col-md-9"></div>
		</div>

		<div class="row"
			ng-class="{ 'has-error' : eventForm.name.$invalid && !eventForm.name.$pristine}">
			<div class="col-md-1 col-md-offset-2 align-right">Event Name:</div>
			<div class="col-md-2 ">
				<input type="text" ng-model="eventUIObject.name" name="name"
					class="form-control" required>
			</div>
			<div class="col-md-7 align-left">
				<p ng-show="eventForm.name.$invalid && !eventForm.name.$pristine"
					class="help-block">Your name is required</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 col-md-offset-2 align-right">Description:</div>
			<div class="col-md-5">
				<textarea name="desc" ng-model="eventUIObject.description"
					class="form-control" rows="5" cols="70" required></textarea>
			</div>
			<div class="col-md-4 align-left">
				<p style="color: #9F000F"
					ng-show="eventForm.desc.$invalid && !eventForm.desc.$pristine"
					class="help-block">Must be filled out</p>
			</div>
		</div>
		<br>
		<div class="row"
			ng-class="{ 'has-error' : eventForm.url.$invalid && !eventForm.url.$pristine}">
			<div class="col-md-1 col-md-offset-2 align-right">Enter URL:</div>
			<div class="col-md-2 ">
				<input type="url" ng-model="eventUIObject.url" name="url"
					class="form-control">
			</div>
			<div class="col-md-7 align-left">
				<p ng-show="eventForm.url.$invalid && !eventForm.url.$pristine"
					class="help-block">The URL is invalid</p>
			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-md-2 col-md-offset-3">Please check all that
				apply:</div>
			<div class="col-md-8"></div>
		</div>
		<br>
		<div class="row">
			<div data-ng-app="" class="col-md-3 col-md-offset-3 ">
				<input type="checkbox" ng-model="eventUIObject.checkbox1"
					id="checkBox1" name="1" id="checkBox1"> &nbsp; Guests can
				invite other guests
			</div>
			<div class="col-md-6"></div>
		</div>
		<br>
		<div class="row">
			<div data-ng-app="" class="col-md-3 col-md-offset-3">
				<input type="checkbox" ng-model="eventUIObject.checkbox2"
					id="checkBox2" name="2" id="checkBox2"> &nbsp; Guests can
				see other guests
			</div>
			<div class="col-md-6"></div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-md-3 align-right">
				<label>Event Location </label>
			</div>
			<div class="col-md-9"></div>
		</div>
		<br>
		<div class="row"
			ng-class="{ 'has-error' : eventForm.address1.$invalid && !eventForm.address1.$pristine}">
			<div class="col-md-1 col-md-offset-2 align-right">Street
				Address 1:</div>
			<div class="col-md-2">
				<input type="text" ng-model="eventUIObject.address1" name="address1"
					class="form-control" style="width: 150px" required>
			</div>
			<div class="col-md-7 align-left">
				<p
					ng-show="eventForm.address1.$invalid && !eventForm.address1.$pristine"
					class="help-block">The event address is required</p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 col-md-offset-2 align-right">Street
				Address 2:</div>
			<div class="col-md-2">
				<input type="text" ng-model="eventUIObject.address2" name="address2"
					class="form-control" style="width: 150px;">
			</div>
			<div class="col-md-7 align-left">
				<p id="street2Error"></p>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 col-md-offset-2 align-right">City:</div>
			<div
				ng-class="{ 'has-error' : eventForm.city.$invalid && !eventForm.city.$pristine }">
				<div class="col-md-1">
					<input type="text" ng-model="eventUIObject.city" name="city"
						class="form-control" size="15" required>
				</div>
				<div class="col-md-1">
					<p ng-show="eventForm.city.$invalid && !eventForm.city.$pristine"
						class="help-block">The event city is required</p>
				</div>

			</div>
			<div
				ng-class="{ 'has-error' : eventForm.state.$invalid && !eventForm.state.$pristine }">
				<div class="col-md-1 align-right">State:</div>
				<div class="col-md-1 align-left">
					<select name="state" ng-model="eventUIObject.state"
						class="form-control" required>
						<option value="AL">AL</option>
						<option value="AK">AK</option>
						<option value="AZ">AZ</option>
						<option value="AR">AR</option>
						<option value="CA">CA</option>
						<option value="CO">CO</option>
						<option value="CT">CT</option>
						<option value="DE">DE</option>
						<option value="FL">FL</option>
						<option value="GA">GA</option>
						<option value="HI">HI</option>
						<option value="ID">ID</option>
						<option value="IL">IL</option>
						<option value="IN">IN</option>
						<option value="IA">IA</option>
						<option value="KS">KS</option>
						<option value="KY">KY</option>
						<option value="LA">LA</option>
						<option value="ME">ME</option>
						<option value="MD">MD</option>
						<option value="MA">MA</option>
						<option value="MI">MI</option>
						<option value="MN">MN</option>
						<option value="MS">MS</option>
						<option value="MO">MO</option>
						<option value="MT">MT</option>
						<option value="NE">NE</option>
						<option value="NV">NV</option>
						<option value="NH">NH</option>
						<option value="NJ">NJ</option>
						<option value="NM">NM</option>
						<option value="NY">NY</option>
						<option value="NC">NC</option>
						<option value="ND">ND</option>
						<option value="OH">OH</option>
						<option value="OK">OK</option>
						<option value="OR">OR</option>
						<option value="PA">PA</option>
						<option value="RI">RI</option>
						<option value="SC">SC</option>
						<option value="SD">SD</option>
						<option value="TN">TN</option>
						<option value="TX">TX</option>
						<option value="UT">UT</option>
						<option value="VT">VT</option>
						<option value="VA">VA</option>
						<option value="WA">WA</option>
						<option value="WV">WV</option>
						<option value="WI">WI</option>
						<option value="WY">WY</option>
					</select>
				</div>
				<div class="col-md-1">
					<p ng-show="eventForm.state.$invalid && !eventForm.state.$pristine"
						class="help-block">The event state is required</p>
				</div>

			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-1 col-md-offset-2 align-right">Zipcode:</div>
			<div
				ng-class="{ 'has-error' : eventForm.zip.$invalid && !eventForm.zip.$pristine }">
				<div class="col-md-1">
					<input type="number" ng-model="eventUIObject.zip" name="zip"
						class="form-control" size="15" ng-minlength="5" ng-maxlength="5"
						required>
				</div>
				<div class="col-md-1">
					<p ng-show="eventForm.zip.$invalid && !eventForm.zip.$pristine"
						class="help-block">The event zipcode is required</p>
				</div>

			</div>
			<div
				ng-class="{ 'has-error' : eventForm.country.$invalid && !eventForm.country.$pristine }">
				<div class="col-md-1 align-right">Country:</div>
				<div class="col-md-1 align-left">
					<select name="country" ng-model="eventUIObject.country"
						class="form-control" required>
						<option value="United States">United States</option>
						<option value="United Kingdom">United Kingdom</option>
					</select>
				</div>
				<div class="col-md-1">
					<p
						ng-show="eventForm.country.$invalid && !eventForm.country.$pristine"
						class="help-block">The event country is required</p>
				</div>

			</div>
		</div>
		<br> <br>
		<div class="row">
			<div class="col-md-2 align-right">
				<label>Event Date and Time</label>
			</div>
			<div class="col-md-10"></div>
		</div>
		<div class="row">
			<div
				ng-class="{ 'has-error' : eventForm.startDate.$invalid && !eventForm.startDate.$pristine }">
				<div class="col-md-1 col-md-offset-2 align-right">Event
					Starting Date:</div>
				<div class="col-md-2">
					<input type="datetime-local" ng-model="eventUIObject.startDate" name="startDate"
						class="form-control" required></input>
				</div>
				<div class="col-md-9 align-left"></div>
					<p
						 ng-show="eventForm.startDate.$invalid && !eventForm.startDate.$pristine"
						class="help-block">The event start date is required</p>
				</div>
			</div>
		</div>

		<br> <br>
		<div class="row">
			<div
				ng-class="{ 'has-error' : eventForm.endDate.$invalid && !eventForm.endDate.$pristine }">
				<div class="col-md-1 col-md-offset-2 align-right">Event
					Starting Date:</div>
				<div class="col-md-2">
					<input type="datetime-local" ng-model="eventUIObject.endDate" name="endDate"
						class="form-control" required></input>
				</div>
				<div class="col-md-9 align-left">
					<p
						ng-show="eventForm.endDate.$invalid && !eventForm.endDate.$pristine"
						class="help-block">The event start date is required</p>
				</div>
			</div>
		</div>

		<br> <br>
		<div>
			
		</div>

		<br> <br>
		<div class="row">
			<div class="col-md-1 col-md-offset-9" style="margin-bottom: 10px;">
				<input type="submit" class="btn btn-primary"
					ng-disabled="eventForm.$invalid" value="Submit" />
			</div>
			<div class="col-md-2">
				<a ui-sref="eventResults">Event Results</a>
			</div>
		</div>
</form>