.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
.align-center{
	text-align: center;
}

.border-radius-main-form {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bbb;
	padding: 10px 20px;
}