.family
{
	background-color:#CCCCCC;
	text-align:center;
	height:200px;
}
.join
{
	background-color:#00CCFF;
	text-align:center;
	height:200px;
}
.upcoming
{
	
	background-color:#00FFFF;
	text-align:center;
	height:200px;
}

.body2
{
	background-color:#33CCCC;
	text-align:center;
	height:650px;
}
.linesep
{
	margin-top: 20px;
}
.texta{
	text-align:right;
}
.textb{
	text-align:left;
}
.spacing{
		margin-left: 20px;
}
.spacing2{
		margin-right: 10px;
}
.spacing3{
		margin-left: 40px;
}
.spacing4{
		margin-left:-20px;
}