<div id="main-view-container">
    <div class="row">
        <div class="col-md-12 align-center">
            <h1>My Family Search</h1>
        </div>
    </div>
    <br>
    <div class="well row">

        <div class="col-md-4 align-right"><a ui-sref=".byName" class="btn btn-primary btn-sm">By name</a></div>
        <div class="col-md-4 align-center"><b>How would you like to search?</b></div>
        <div class="col-md-4 align-left"><a ui-sref=".byLocation" class="btn btn-primary btn-sm">By location</a></div>
    </div>

    <div ui-view></div>

</div>
