@CHARSET "ISO-8859-1";
.header
{
	background-color:#0000FF;
	text-align:center;
	height:75px;
}
.primary
{
	background-color:#00FFFF;
	text-align:center;
	
}
.body
{
	background-color:#990066;
	text-align:center;
	
}
.family
{
	background-color:#0099FF;
	text-align:center;
	height:350px;
}
.join
{
	background-color:#00CCFF;
	text-align:center;
	height:350px;
}
.upcoming
{
	background-color:#00FFFF;
	text-align:center;
	height:350px;
}
.footer
{
	background-color:#00FF99;
	text-align:center;
	
}
.body2
{
	background-color:#33CCCC;
	text-align:center;
	height:650px;
}
.nestedcontent
{
	margin-top:300px;
}
