
.family
{
	background-color:#CCCCCC;
	text-align:center;
	height:300px;
}
.join
{
	background-color:#00CCFF;
	text-align:center;
	height:300px;
}
.upcoming
{
	
	background-color:#00FFFF;
	text-align:center;
	height:300px;
}

.body2
{
	background-color:#33CCCC;
	text-align:center;
	height:650px;
}
.nestedcontent
{
	margin-top:300px;
}
