@CHARSET "ISO-8859-1";
#header-container{
	height:75px;
	background-color: #CC9933;
	
}
#body-container{
	height:650px;
}
#footer-container{
	height:75px;
	background-color: #66CC99; 
	
}
#primary-navigation-container{
	background-color: #66CC99; 
	
}
