.changeColorToRed
{
	color: red;
}
.line-seperation
{
	margin-top: 20px;
}
.align-right{
	text-align:right;
}
.align-left{
	text-align:left;
}
.text-center{
	text-align: center;
}
.spacing{
		margin-left:60px;
}
.input-space{
	width: 200px;
}
p{
	size: 15;
	color: red;
}